.google-location-suggest {
  position: relative;
}

.google-location-suggest-input {
  outline-width: 0px;
  padding: 8px;
  width: 100%;
}

.google-location-suggest-ul {
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding: 0;
}

.google-location-suggest-li {
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.google-location-suggest-li-location {
  width: 14px;
}
